div > p{
    display: inline-flex;
}
.box{
    height: 200px;
    width: 200px;
    border: 2px solid black;
}
div.box{
    display: flex;
    flex-direction: column;
    padding: 7px 7px 0px 7px;
}
div{
    height: 50px;
    color: white;
}
div .home{
    background-color: yellowgreen;
    padding: 7px;
}
div .op{
    background-color: aqua;
    padding: 7px;
    color: blue;
}